:root {
    --game-board-height: 345px;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ********  START PAGE  ******** */
#start-page {
    display: flex;
}

#le {
    font-family: 'Black Ops One', cursive;
    font-size: 4rem;
}

#instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instructions-header {
    font-family: 'Merriweather', serif;
    padding-bottom: 1rem;
}

.instructions-paragraph {
    width: 60%;
    border: 3px solid #f3f2c9;
    padding: 4rem;
    line-height: 1.5;
    text-align: center;
}

/* ********  GAME-PAGE  ******** */

#game-page {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    z-index: 0;
}

#game-score {
    font-size: 1rem;
    position: absolute;
    left: 50%;
    top: 80px;
    transform: translate(-50%, 0);
}

#game-timer {
    font-size: 4rem;
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translate(-50%, 0);
}

#game-board {
    margin: auto;
    background-color: rgb(69, 115, 136);
    height: var(--game-board-height);
    width: 900px;
    position: relative;
    margin-top: 100px;
}

/* castle styles */
#castle {
    width: 200px;
    height: var(--game-board-height);
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#castle-lives {
    color: white;
    font-size: 4rem;
}

/* enemy style */
.enemy {
    position: absolute;
    background-color: red;
    border-radius: 50%;
}

.enemy-question {
    font-size: 1rem;

    background-color: white;
    border-radius: 0.3rem;

    width: max-content;
    line-height: 30px;
    padding: 0 0.5rem;

    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: calc(100% + 5px);
}

.enemy.selected .enemy-question {
    border: black solid 0.2rem;
    font-size: 1rem;
}

.not-clickable {
    pointer-events: none;
}

/* Answer form styles */
.answer-form {
    background-color: lightblue;
    width: 900px;
    margin: 1rem auto;
    padding: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

#answer-input {
    margin-left: 10px;
    width: 300px;
    font-size: 1rem;
    padding: 0.25em 0.5em;
}

.pause-button {
    width: 10rem;
}

/* ********  GAME-OVER-PAGE  ******** */

#game-over-page {
    display: none;
}

#game-over-score {
    font-family: 'Merriweather', serif;
    font-size: 2rem;
}

#game-over-wrong-answers {
    font-family: 'Merriweather', serif;
    font-size: 2rem;
    margin-top: 3rem;
}

/* ********  COMMON STYLES  ******** */

#start-page,
#game-over-page {
    height: 100vh;
    width: 100%;
    background-color: #003638;
    color: #f3f2c9;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 90%;
    z-index: 1;
}

.title {
    font-family: 'Merriweather', serif;
    font-size: 3.5rem;
    padding: 3rem;
}

.button {
    margin-top: 2rem;
    box-shadow: inset 0px 1px 3px 0px #91b8b3;
    background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    background-color: #768d87;
    border-radius: 5px;
    border: 1px solid #566963;
    display: inline-block;
    cursor: pointer;
    color: #f3f2c9;
    font-family: 'Black Ops One', cursive;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 11px 23px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #2b665e;
}

.button:hover {
    background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    background-color: #6c7c7c;
}

.button:active {
    position: relative;
    top: 1px;
}


/*# sourceMappingURL=main.bundle.css.map*/