:root {
    --game-board-height: 400px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#game-board {
    margin: auto;
    background-color: rgb(69, 115, 136);
    height: var(--game-board-height);
    width: 900px;
    position: relative;
    margin-top: 100px;
}

/* castle styles */
#castle {
    width: 200px;
    height: var(--game-board-height);
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#castle-lives {
    color: white;
    font-size: 4rem;
}

/* enemy style */
.enemy {
    position: absolute;
    background-color: red;
    border-radius: 50%;
}
