:root {
    --game-board-height: 345px;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #f3f2c9;
    opacity: 70%; /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #f3f2c9;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #f3f2c9;
}

* {
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 2rem;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ********  COMMON STYLES  ******** */

#start-page,
#game-over-page,
#difficulty-select-page {
    background-image: url('../img/start.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 750px;
    width: 100%;
    background-color: #003638;
    color: #f3f2c9;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 100%;
    z-index: 1;
}

.button {
    letter-spacing: 5px;
    margin-top: 2rem;
    background-color: #2779c3;
    border-radius: 10px;
    border: 1px solid #566963;
    display: inline-block;
    cursor: pointer;
    color: #f3f2c9;
    font-size: 1.5rem;
    padding: 14px 23px 8px 23px;
    text-decoration: none;
}

.button:active {
    position: relative;
    top: 1px;
}

.blur-background {
    background-color: #2779c3;
    border-radius: 10px;
    opacity: 70%;
    padding: 0.5rem 1rem 0.3rem 1rem;
    margin: 1rem;
}

/* ********  START PAGE  ******** */
#start-page {
    display: flex;
}

.start-button {
    font-size: 40px;
    width: 20rem;
    height: 5rem;
    padding-top: 25px;
    border: solid white 3px;
    box-shadow: 0px 15px 1px rgba(19, 69, 115, 0.8);
}

.start-button:hover {
    box-shadow: none;
}

#le {
    font-family: 'Black Ops One', cursive;
    font-size: 4rem;
}

#instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instructions-header {
    font-family: 'Merriweather', serif;
    padding-bottom: 0.5rem;
}

.instructions-paragraph {
    width: 60%;
    border: 3px solid #f3f2c9;
    padding: 4rem;
    line-height: 1.5;
    text-align: center;
}

/* ********  GAME-PAGE  ******** */

#game-page {
    width: 100%;
    height: 750px;
    background-image: url('../img/start.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    display: none;
    flex-direction: column;
    top: 0;
    z-index: 0;
}

#game-board-container {
    padding: 40px 46px;
    width: 80%;
    margin: auto;
}

#game-board {
    background-image: url('../img/field.png');
    background-size: 54cm 11cm;
    background-repeat: no-repeat;
    border-radius: 17px;
    display: flex;
    margin: auto;
    background-color: rgb(69, 115, 136);
    height: var(--game-board-height);
    width: 1000px;
    position: relative;
}

#game-board-menu {
    background-color: #55c690;
    border: 4px solid #f3f2c9;
    border-radius: 17px;
    color: #f3f2c9;
    display: flex;
    margin: 1rem auto;
    font-size: 2rem;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
}

#game-board-menu .button,
#game-timer {
    background-color: #ff7678;
    border: 4px solid #f3f2c9;
    border-radius: 17px;
    font-weight: bold;
    padding: 14px 23px 8px 23px;
    margin: 0.5rem;
}

#game-board-menu .button:hover {
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75) inset;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75) inset;
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75) inset;
    transition: 0.3s ease all;
}

#game-score,
#castle-lives,
#castle-lives-header {
    margin-top: 15px;
}

/* castle styles */
#castle {
    background-image: url('../img/castle.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 137px;
    height: var(--game-board-height);
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

/* enemy style */
.enemy {
    position: absolute;
    background-color: red;
    border-radius: 50%;
}

.enemy-question {
    font-size: 1rem;

    background-color: white;
    border-radius: 0.3rem;

    width: max-content;
    line-height: 30px;
    padding: 0 0.5rem;

    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: calc(100% + 5px);
}

.enemy.selected .enemy-question {
    border: black solid 0.2rem;
    font-size: 1rem;
}

.not-clickable {
    pointer-events: none;
}

/* Answer form styles */
#answer-form-container {
    display: flex;
    justify-content: center;
}

.answer-form {
    width: 900px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#answer-input {
    color: #f3f2c9;
    background-color: #55c690;
    border: 4px solid #f3f2c9;
    border-radius: 17px;
    margin: 0 auto;
    width: 350px;
    font-size: 1.5rem;
    padding: 1rem 2rem 0.6rem 2rem;
}

#answer-input:focus {
    outline: none;
}

.pause-button {
    width: 12rem;
}

/* Remove number input handles  */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

/* ********  GAME-OVER-PAGE  ******** */

#game-over-page {
    display: none;
    justify-content: center;
    align-items: center;
    background-image: url('../img/clouds.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.gameover-info {
    z-index: 999;
}

#game-over-page .container {
    position: absolute;
    z-index: 0;
    width: 90%;
    height: auto;
    text-align: center;
}

#game-over-page .title {
    margin-bottom: 10px;
    color: #ce7f54;
    text-shadow: 0px 5px 0px #5b321c;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.1);
}

#game-over-page .title-score {
    font-size: 2rem;
    color: #ce7f54;
    text-shadow: 0px 3px 0px #5b321c;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.1);
}

#game-over-page .score {
    font-size: 2rem;
    color: white;
    text-shadow: 0px 4px 0px #5b321c;
}

#restart-button {
    background-color: #ce7f54;
    color: white;
    box-shadow: 0px 8px 0px #5b321c;
    border: 2px solid rgba(255, 255, 255, 0.4);
}

/* ********  DIFFICULTY-SELECT-PAGE  ******** */

#difficulty-select-page {
    display: none;
    background-image: url('../img/start.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* ********  Question History Styles  ******** */

#table-container {
    max-height: 500px;
    margin-top: 10px;
    overflow-y: auto;
}

#question-history {
    background-color: #ce7f54;
    color: black;
    min-width: 450px;
}

#question-history tr {
    white-space: nowrap;
}

#question-history,
#question-history th,
#question-history td {
    border: 2px solid black;
    border-collapse: collapse;
    font-family: sans-serif;
}

#question-history th,
#question-history td {
    padding: 0.75em;
}

.question-history-answer {
    font-family: sans-serif;
    display: inline-block;
    padding: 0 0.5em;
    border-radius: 0.25em;
    min-width: 35px;
    max-height: 35px;
    line-height: 35px;
}

.question-history-answer + .question-history-answer {
    margin-left: 0.5em;
}

.question-history-correct-answer {
    background-color: #2ecc71;
}

.question-history-wrong-answer {
    background-color: #e74c3c;
}

.fa-heart-broken {
    line-height: 35px;
    padding-left: 0.12em;
}
