:root {
    --game-board-height: 345px;
}

* {
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 2rem;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ********  COMMON STYLES  ******** */

#start-page,
#game-over-page,
#difficulty-select-page {
    height: 750px;
    width: 100%;
    background-color: #003638;
    color: #f3f2c9;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 100%;
    z-index: 1;
}

.button {
    letter-spacing: 5px;
    margin-top: 2rem;
    background-color: #2779c3;
    border-radius: 10px;
    border: 1px solid #566963;
    display: inline-block;
    cursor: pointer;
    color: #f3f2c9;
    font-size: 1.5rem;
    padding: 14px 23px 8px 23px;
    text-decoration: none;
}

.button:active {
    position: relative;
    top: 1px;
}

.blur-background {
    background-color: #2779c3;
    border-radius: 10px;
    opacity: 70%;
    padding: 0.5rem 1rem 0.3rem 1rem;
    margin: 1rem;
}

/* ********  START PAGE  ******** */
#start-page {
    display: flex;
    background-image: url('../img/start.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.start-button {
    font-size: 40px;
    width: 20rem;
    height: 5rem;
    padding-top: 25px;
    border: solid white 3px;
    box-shadow: 0px 15px 1px rgba(19, 69, 115, 0.8);
}

.start-button:hover {
    box-shadow: none;
}

#le {
    font-family: 'Black Ops One', cursive;
    font-size: 4rem;
}

#instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instructions-header {
    font-family: 'Merriweather', serif;
    padding-bottom: 0.5rem;
}

.instructions-paragraph {
    width: 60%;
    border: 3px solid #f3f2c9;
    padding: 4rem;
    line-height: 1.5;
    text-align: center;
}

/* ********  GAME-PAGE  ******** */

#game-page {
    position: absolute;
    display: none;
    flex-direction: column;
    top: 0;
    z-index: 0;
}

#game-board-container {
    background-image: url('../img/container.png');
    background-size: 141% 139%;
    background-position: center;
    padding: 40px 46px;
    outline: 3px solid chocolate;
    background-position-y: -104px;
}

#game-score {
    font-size: 1rem;
    position: absolute;
    left: 50%;
    top: 80px;
    transform: translate(-50%, 0);
}

#game-timer {
    font-size: 4rem;
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translate(-50%, 0);
}

#game-board {
    background-image: url('../img/field.png');
    background-size: 24cm 11cm;
    background-repeat: no-repeat;
    margin: auto;
    background-color: rgb(69, 115, 136);
    height: var(--game-board-height);
    width: 900px;
    position: relative;
    margin-top: 48px;
}

/* castle styles */
#castle {
    background-image: url('../img/castle.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: var(--game-board-height);
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#castle-lives {
    color: white;
    font-size: 4rem;
}

/* enemy style */
.enemy {
    position: absolute;
    background-color: red;
    border-radius: 50%;
}

.enemy-question {
    font-size: 1rem;

    background-color: white;
    border-radius: 0.3rem;

    width: max-content;
    line-height: 30px;
    padding: 0 0.5rem;

    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: calc(100% + 5px);
}

.enemy.selected .enemy-question {
    border: black solid 0.2rem;
    font-size: 1rem;
}

.not-clickable {
    pointer-events: none;
}

/* Answer form styles */
.answer-form {
    background-color: #ce8154;
    border-right: 5px solid #764529;
    border-bottom: 5px solid #764529;
    border-left: 5px solid #764529;
    width: 900px;
    /* margin: 0.8rem auto; */
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#answer-input {
    margin-left: 10px;
    width: 300px;
    font-size: 1rem;
    padding: 0.25em 0.5em;
}

.answer-form label {
    color: #f3f2c9;
    letter-spacing: 1.5px;
    padding-top: 4px;
}

.pause-button {
    width: 12rem;
}

/* ********  GAME-OVER-PAGE  ******** */

#game-over-page {
    display: none;
    justify-content: center;
    align-items: center;
    background-image: url('../img/clouds.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.gameover-info {
    z-index: 999;
}

#game-over-page .container {
    position: absolute;
    z-index: 0;
    width: 90%;
    height: auto;
    text-align: center;
}

#game-over-page .title {
    margin-bottom: 10px;
    color: #ce7f54;
    text-shadow: 0px 5px 0px #5b321c;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.1);
}

#game-over-page .title-score {
    font-size: 2rem;
    color: #ce7f54;
    text-shadow: 0px 3px 0px #5b321c;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.1);
}

#game-over-page .score {
    font-size: 2rem;
    color: white;
    text-shadow: 0px 4px 0px #5b321c;
}

#restart-button {
    background-color: #ce7f54;
    color: white;
    box-shadow: 0px 8px 0px #5b321c;
    border: 2px solid rgba(255, 255, 255, 0.4);
}

/* ********  DIFFICULTY-SELECT-PAGE  ******** */

#difficulty-select-page {
    display: none;
    background-image: url('../img/start.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
